<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Board</title>
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="section">
        <div class="container" id="cummunity_header">
            <div id="cummunity_displayName">
                <%=username%>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container" id="cummunity_advertising">
            우리 앱 광고
        </div>
    </div>
    
    <div class="section" id="cummunity_best_container">
        <div class="container best1" id="cummunity_best">
            주간 베스트
        </div>
        <div class="container best2" id="cummunity_best_info">
            정보들
        </div>
    </div>
    <div class="section">
            <div class="container" id="cummunity_new">
                최신게시물
            </div>
        </div>
    <div class="section">
        <div class="container" id="cummunity_recent">
            제목1  닉네임 1 따봉 1 댓글 1
        </div>
        <div class="container" id="cummunity_recent">
            제목2  닉네임 2 따봉 2 댓글 2
        </div>
        <div class="container" id="cummunity_recent">
            제목3  닉네임 3 따봉 3 댓글 3
        </div>
        <div class="container" id="cummunity_recent">
            제목4  닉네임 4 따봉 4 댓글 4
        </div>
        <div class="container" id="cummunity_recent">
            제목5  닉네임 5 따봉 5 댓글 5
        </div>
        
    </div>
    <div class="section">
        <div class="container" id="cummunity_nav">
            <div class="cummunity_nav_centent" id="calender">
                캘린더
            </div>
            <div class="cummunity_nav_centent" id="cummunity">
                커뮤니티
            </div>
            <div class="cummunity_nav_centent" id="hospital">
                병원찾기
            </div>
        </div>
    </div>
</body>
</html>